{% extends "layout.html" %}
{% block body %}

    <div class="container py-5" id="featured-3">
        <h2 class="pb-2 border-bottom">Top Movies</h2>
        <div class="row g-5 py-5">
            {% for movie in movies %}
                <div class="feature col-md-3">
                    <div class="">
                        <img src="{{ movie.image_url }}" width="70%" height="">
                    </div>
                    <h3>{{ movie.movie_name }}</h3>
                    <a href="/review/{{ movie.id }}" class="icon-link">
                        Read Reviews
                        <svg class="bi" width="1em" height="1em">
                            <use xlink:href="#chevron-right"/>
                        </svg>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
